# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# Node modules (if you add npm dependencies later)
node_modules/
frontend/node_modules/
frontend/build/
backend/.venv/
backend/app.db
backend/app.db-journal

# Local development
.env
.env.local
frontend/certs/

# ingnore certs folder
certs/

old/